footer{
    background-image: url("img/background.jpg") !important;
	background-position-x: 50%;
	background-position-y: 0%;
	color: white;
	letter-spacing: 1px;
	text-align: center;
	bottom: 0;
	width: 100%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

.title {
	font-family: "Lexend", sans-serif;
 	 font-optical-sizing: auto;
  	font-weight: weight;
  	font-style: normal;
	font-size: 150%;
	margin-top: 1%;
}

.box{
	display: flex;
}

.galeria{
	display: inline-block;
	margin-right: 14.5%;
}

.img{
	width: 142%;
	height: 130%;
}

@media screen and (max-width: 1878px){
	.img{
		width: 278%
	}	
}
